* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

body {
  background: #f5efe6;
  color: #3a3a3a;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 30px;
  padding: 40px;
}

.card {
  background: #ffffff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  margin-bottom: 25px;
  font-size: 15px;
}

.profile {
  text-align: center;
}

.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  border: 4px solid #e6d5c3;
}

h1 {
  font-size: 18px;
  font-weight: 600;
}

.role {
  color: #a1866f;
  margin-top: 5px;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  color: #a1866f;
  font-size: 15px;
}

p {
  text-align: justify;
  font-size: 15px;
  line-height: 1.6;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags span {
  background: #f3e8dc;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 15px;
  transition: 0.3s;
}

.tags span:hover {
  background: #e6d5c3;
  transform: translateY(-3px);
}

.proj-title {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 15px;
}

.proj-content p {
  font-size: 15px;
  color: #7a6a5a;
  text-align: justify;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}
