* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5efe6;
  color: #3a3a3a;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 30px;
  padding: 40px;
}

.card {
  background: #ffffff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  margin-bottom: 25px;
}

.profile {
  text-align: center;
}

.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  border: 4px solid #e6d5c3;
}

h1 {
  font-size: 15px; /* Nama */
  font-weight: 600;
}

.role {
  font-size: 15px; /* “Data Science Student” */
  color: #a1866f;
  margin-top: 5px;
  text-align: center;
}

h2 {
  font-size: 15px; /* Section title: About, Tools, Skills, Projects */
  color: #a1866f;
  margin-bottom: 15px;
}

.proj-title {
  font-size: 15px; /* Judul proyek: BISINDO Image Detection, dll */
  font-weight: 600;
  text-decoration: none;
  color: #3a3a3a;
}

p {
  font-size: 12px; /* Deskripsi teks: final-year, goggle colab, model able, dll */
  line-height: 1.6;
  text-align: justify;
}

.tags span {
  font-size: 12px; /* Deskripsi tools & skills */
  background: #f3e8dc;
  padding: 8px 14px;
  border-radius: 20px;
  transition: 0.3s;
}

.tags span:hover {
  background: #e6d5c3;
  transform: translateY(-3px);
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}

